*{
    margin:0;
    padding: 0;
    outline: 0;
   }

   body{
    
    background-image:linear-gradient(90deg,#43C6AC,#191654);
    background-size: cover;
   }

   table{
    margin: 10% auto;
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
   
   }
   td , th{
    padding: 15px 1rem;
    text-align: center;
   }

   td{
    padding: 0.5rem 1rem;
   }
   th{
    background-color: #406aad;
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
   
   }
   tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
   }
   tr:nth-child(even){
    background-color: #eeeeee;
   }

   .edit, .delete{
    cursor: pointer;
    letter-spacing: 0.1rem;
    background-color: rgb(73, 240, 184);
    border-style: none;
    font-size: 0.8rem;
    padding: 0.5rem 1.2rem;
    color: white;
    font-weight: 500;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
   }

   .action-buttons{
    display: flex;
    justify-content: space-between;
   }
   
   .delete{
    margin-left: 1rem;
    letter-spacing: 0rem;
    background-color: rgb(244, 48, 87);
   }
