
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter:wght@800&family=Roboto:wght@100;300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter:wght@800&family=Roboto:wght@100;300;400;700;900&display=swap');
html { 
    background: url(https://img.freepik.com/free-photo/top-view-manager-woman-analyzing-financial-paperwork-strategy-typing-expertise-laptop_482257-9055.jpg?t=st=1657826337~exp=1657826937~hmac=a6dfcafb4caafd25afac6a1c9ccd510abfdb89ba99d8411b32bf6ce989017965&w=1380) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .hero{
      margin: auto;
      width: 70%;
      background-color: rgba(0, 169, 253, 0.7);
      border-radius: 1rem;
      margin-top: 5rem;
      /* padding: ; */
  }

  /* .box{
      margin:0 auto;
      border: 2px solid red;
  } */

  .list{
    /* border: 2px solid rgb(255, 230, 0); */
    text-align: center;
    padding: 0.7rem;
    
  }

  .list ul li{
      margin-bottom: 0.3rem;
      list-style: none;
      border: 3px solid rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;
  }
  .list ul li:hover{
    background-color: rgba(61, 63, 64,0.8);
    color: aqua;
    transition: 0.3s;
  }
  .list ul{
      padding-right: 2.2rem;
  }
  .list ul li a{
    color: aliceblue;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
font-weight: 900;
letter-spacing: 0.1rem;
    font-size: 1.5rem;
  }

  .heading {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid red; */
    padding-top: 0.7rem;
    border-bottom: 4px solid rgba(1, 1, 1, 0.7);
    margin: 0 auto;
    font-size: 1.7rem;
    color: aliceblue;
  }